<li class="treeview">
    <a href="#">
        <i class="fa fa-money"></i> <span>Service Manager</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url 'django-eveonline-service-manager-service-list' %}"><i class="fa fa-wrench"></i>Services</a></li>
        <li><a href="{% url 'django-eveonline-service-manager-invoice-list' %}"><i class="fa fa-shopping-cart"></i>Invoices</a></li>
    </ul> 
        
</li>
